
<div id="wrapper">

  <!-- Header -->
  <header id="header" class="alt">
    <span class="logo"><img src="../../assets/images/logo.svg" alt="" height="125px"/></span>
    <h1>Serwis</h1>
    <p>Sprawdź status zlecenia</p>
  </header>

  <!-- Main -->
  <div id="main">

    <!-- Content -->
    <section id="content" class="main">

      <ul class="actions small">
        <li><a href="#" routerLink="" class="button primary small">Wróć</a></li>
      </ul>
      <form #zlecForm="ngForm" method="post" action="">
        <div class="row gtr-uniform">
          <div class="col-6 col-12-xsmall">
            <input type="number" name="phone" id="phone" value="" placeholder="Numer telefonu"  #phone required ngModel/>
          </div>
          <div class="col-6 col-12-xsmall">
            <input type="number" name="idnum" id="idnum" value="" placeholder="Numer zlecenia"  #idnum required ngModel/>
          </div>
          <div class="col-12">
            <ul class="actions">
              <li><input type="submit" value="Sprawdź!" class="primary" (click)="sprawdzZlec(phone.value, idnum.value)"/></li>
              <li><input type="reset" value="Resetuj" /></li>
            </ul>
          </div>
        </div>
      </form>

    </section>

  </div>

  <!-- Footer -->
  <footer id="footer">

    <section>
      <h2>Kontakt</h2>

      <dl class="alt">
        <dt>Adres</dt>
        <dd>ul. Klemensa Janickiego 1 &bull; Żnin &bull; 88-400</dd>
        <dt>Nr. tel.</dt>
        <dd>999-999-999</dd>
        <dt>E-mail</dt>
        <dd><a href="#">serwis@gmail.com</a></dd>
      </dl>

    </section>
    <p class="copyright">&copy; PROJEKT ZPO</p>
  </footer>
