<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <header id="header" class="alt">
    <span class="logo"><img src="../../assets/images/logo.svg" alt="" height="125px"/></span>
    <h1>Serwis</h1>
    <p>Naprawimy twój kompter</p>
  </header>

  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li><a href="#intro" class="active">Wprowadzenie</a></li>
      <li><a href="#oferta">Oferta</a></li>
      <li><a href="#naprawa">Naprawa</a></li>
      <li><a href="#kontakt">Kontakt</a></li>
      <li><a routerLink="login">Logowanie/Rejestracja</a></li>
    </ul>
  </nav>

  <!-- Main -->
  <div id="main">

    <!-- Introduction -->
    <section id="intro" class="main">
      <div class="spotlight">
        <div class="content">
          <header class="major">
            <h2>Wprowadzenie</h2>
          </header>
          <p>
            Od dziesięciu lat naprawiamy komputery, laptopy, konsole i telefony.<br />
            Usuniemy wszystkie usterki i przywrócimy Twój sprzęt do życia.
          </p>
        </div>
        <span class="image"><img src="../../assets/images/vector-processor-icon.jpg" alt="" /></span>
      </div>
    </section>

    <!-- First Section -->
    <section id="oferta" class="main special">
      <header class="major">
        <h2>Nasza oferta</h2>
      </header>


      <h3>Usługi</h3>
      <ul class="alt">
        <li>Optymalizacja systemu.</li>
        <li>Fromat dysku.</li>
        <li>Wymiana dysku.</li>
        <li>Czyszczenie z wymianą pasty termoprzewodzącej i termopadów.</li>
        <li>Wymiana wyświetlacza.</li>
        <li>Złożenie komputera.</li>
      </ul>

      <ul class="actions small" style="display: inline-block;">
        <li><a routerLink="cennik" class="button primary small">Cennik</a></li>
      </ul>

    </section>

    <!-- Second Section -->
    <section id="naprawa" class="main special">
      <header class="major">
        <h2>Naprawa</h2>
        <p>
          Zgłoś naprawę, a my postarymy się przygotować przewidywalny koszt i datę realizacji.
          <br />Możesz róweż sprawdzić status lub historie swoich napraw.
        </p>
      </header>

      <footer class="major">

        <div class="row">
          <div class="col-6 col-12-medium">
            <ul class="actions" style="display: inline-block;">
              <li><a href="#" class="button primary" routerLink="naprawa">Zgłoś naprawe</a></li>
            </ul>
          </div>

          <div class="col-6 col-12-medium">
            <ul class="actions" style="display: inline-block;">
              <li><a href="" routerLink="status" class="button primary">Status / historia</a></li>
            </ul>
          </div>

        </div>

      </footer>
    </section>

    <!-- Get Started -->
    <section id="kontakt" class="main special">
      <header class="major">
        <h2>Kontakt</h2>

        <dl class="alt">
          <dt>Adres</dt>
          <dd>ul. Klemensa Janickiego 1 &bull; Żnin &bull; 88-400</dd>
          <dt>Nr. tel.</dt>
          <dd>999-999-999</dd>
          <dt>E-mail</dt>
          <dd><a href="#">serwis@gmail.com</a></dd>
        </dl>
      </header>

      <footer class="major">
          <iframe style="width: auto" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d568.5807394561915!2d17.738056223960918!3d52.84829134611413!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1643198488177!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </footer>

    </section>

  </div>

  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">&copy; PROJEKT ZPO</p>
  </footer>

</div>
