<!-- Wrapper -->
<div id="wrapper">
  <!-- Header -->
  <header id="header" class="alt">
    <span class="logo"><img src="../../assets/images/logo.svg" alt="" height="125px"/></span>
    <h1>Serwis</h1>
    <p>Sprawdź status zlecenia</p>
  </header>

  <!-- Main -->
  <div id="main">

    <!-- Content -->
    <section id="content" class="main">

      <h1>Zlecenie nr: {{id}}</h1>
      <blockquote>
        <p>Imie: {{nam}}</p>
        <p>Nazwisko: {{surn}}</p>
        <p>Email: {{mail}}</p>
        <p>Numer telefonu: {{phone}}</p>
        <p>Kategoria: {{category}}</p>
        <p>Problem: {{description}}</p>
      </blockquote>

      <ul class="actions small">
        <li><a href="#" routerLink="" class="button primary small">Wróć</a></li>
      </ul>

    </section>

  </div>

  <!-- Footer -->
  <footer id="footer">

    <section>
      <h2>Kontakt</h2>

      <dl class="alt">
        <dt>Adres</dt>
        <dd>ul. Klemensa Janickiego 1 &bull; Żnin &bull; 88-400</dd>
        <dt>Nr. tel.</dt>
        <dd>999-999-999</dd>
        <dt>E-mail</dt>
        <dd><a href="#">serwis@gmail.com</a></dd>
      </dl>

    </section>
    <p class="copyright">&copy; PROJEKT ZPO</p>
  </footer>

</div>
