<div id="wrapper">

  <!-- Header -->
  <header id="header" class="alt">
    <span class="logo"><img src="../../assets/images/logo.svg" alt="" height="125px"/></span>
    <h1>Serwis</h1>
    <p>Cennik</p>
  </header>

  <!-- Main -->
  <div id="main">

    <!-- Content -->
    <section id="content" class="main">

      <ul class="actions small">
        <li><a routerLink="" class="button primary small">Wróć</a></li>
      </ul>

      <div class="table-wrapper">
        <table class="alt">
          <thead>
          <tr>
            <th>Usługa</th>
            <th>Cena</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Diagnoza.</td>
            <td>50 zł</td>
          </tr>
          <tr>
            <td>Optymalizacja systemu.</td>
            <td>100 zł</td>
          </tr>
          <tr>
            <td>Format komputera.</td>
            <td>100 zł</td>
          </tr>
          <tr>
            <td>Wymiana dysku</td>
            <td>100 zł</td>
          </tr>
          <tr>
            <td>Czyszczenie z wymianą pasty termoprzewodzącej i termopadów</td>
            <td>150 zł</td>
          </tr>
          <tr>
            <td>Wymiana wyświetlacza</td>
            <td>200 zł</td>
          </tr>
          <tr>
            <td>Złożenie komputera</td>
            <td>250 zł</td>
          </tr>
          </tbody>
        </table>
      </div>
    </section>

  </div>

  <!-- Footer -->
  <footer id="footer">

    <section>
      <h2>Kontakt</h2>

      <dl class="alt">
        <dt>Adres</dt>
        <dd>ul. Klemensa Janickiego 1 &bull; Żnin &bull; 88-400</dd>
        <dt>Nr. tel.</dt>
        <dd>999-999-999</dd>
        <dt>E-mail</dt>
        <dd><a href="#">serwis@gmail.com</a></dd>
      </dl>

    </section>
    <p class="copyright">&copy; PROJEKT ZPO</p>
  </footer>

</div>
